<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование человека</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <div class="container">
            <form th:action="@{/books/{id}(id=${book.getBook_id()})}" th:method="PATCH" th:object="${book}">
                <label for="title">Название книги: </label>
                <input type="text" name="" id="title" th:field="*{title}">
                <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                <br>

                <label for="author">Автор: </label>
                <input type="text" name="" id="author" th:field="*{author}">
                <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</div>
                <br>

                <label for="year">Год выпуска: </label>
                <input type="text" name="" id="year" th:field="*{year}">
                <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Name Error</div>
                <br>
                <input type="submit" name="" id="" value="Редактировать">


            </form>
        </div>
</body>
</html>